$H1-300-1440: normal 300 2.5rem/150% "IBM Plex Sans", sans-serif;
$H1-500-1440: normal 500 2.5rem/150% "IBM Plex Sans", sans-serif;
$Tag-300-1440: normal 300 0.875rem "IBM Plex Sans", sans-serif;
$Tag-400-1440: normal 400 1rem "IBM Plex Sans", sans-serif;
$Paragraph-1440: normal 300 1.5rem/150% "IBM Plex Sans", sans-serif;

$H1-300-834: normal 300 1.5rem/150% "IBM Plex Sans", sans-serif;
$H1-500-834: normal 500 1.5rem/150% "IBM Plex Sans", sans-serif;
$Tag-300-834: normal 300 0.75rem "IBM Plex Sans", sans-serif;
$Tag-400-834: normal 400 0.875rem "IBM Plex Sans", sans-serif;
$Paragraph-834: normal 300 1rem/150% "IBM Plex Sans", sans-serif;

$H1-300-390: normal 300 1.5rem/150% "IBM Plex Sans", sans-serif;
$H1-500-390: normal 500 1.5rem/150% "IBM Plex Sans", sans-serif;
$Tag-300-390: normal 300 0.75rem "IBM Plex Sans", sans-serif;
$Tag-400-390: normal 400 0.875rem "IBM Plex Sans", sans-serif;
$Paragraph-390: normal 300 1rem/150% "IBM Plex Sans", sans-serif;
